.info-details {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.info-icon {
    display: flex;
    align-items: center;
    gap: 10px;

}

.icon {
    fill: var(--main-color);
    color: green;
}